#mainPane {
    -fx-background-color: #292929;
}

.button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #fffd00 0%, #00ff5a 50%);
    -fx-text-fill: #000000;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-background-radius: 2em;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #ffffff 0%, #ffe0a1 50%);
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #e0e0e0;
}

#startButton {
    -fx-text-fill: #000000;
    -fx-font-size: 25;
    -fx-font-weight: bolder;
}

#startButton:hover {
    -fx-text-fill: #000000;
    -fx-cursor: hand;
}

#backButton {
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #ffffff 0%, #00ff5a 50%);
    -fx-font-size: 20;
}

#backButton:hover {
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #f5da8e 0%, #ffffff 50%);
    -fx-cursor: hand;
}

#nextButton {
    -fx-background-color: transparent;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #00ff5a 0%, #ffffff 50%);
    -fx-font-size: 20;
}

#nextButton:hover {
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, #ffffff 0%, #f5da8e 50%);
    -fx-cursor: hand;
}

#increment {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 30;
    -fx-pref-height: 5;
    -fx-pref-width: 15;
}

#increment:hover {
    -fx-text-fill: #ff0000;
    -fx-cursor: hand;
}

#increment:pressed {
    -fx-text-fill: #8d0000;
}

.radio-button {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.text-field {
    -fx-border-color: #FFFFFF;
    -fx-background-color: transparent;
    -fx-border-radius: 20;
    -fx-text-fill: 	#FFFFFF;
}

.text-area {
    -fx-border-color: #00ff5a;
    -fx-text-fill: #000000;
    -fx-font-size: 18.0;
}

.label {
    -fx-text-fill: 	#FFFFFF;
}

#errorLabel {
    -fx-text-fill: #ff0000;
    -fx-font-size: 11;
}

.spinner {
    -fx-background-color: transparent;
    -fx-font-size: 18;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #000000;
    -fx-border-color: transparent;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    -fx-body-color: #00ff5a;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    -fx-body-color: #00ff5a;
}

.slider .track {
    -fx-background-color: transparent;
    -fx-border-color: #ffffff;;
}

.slider .thumb {
    -fx-background-color: #ffffff;
    -fx-border-color: transparent;
    -fx-border-radius: 18 18 18 18;
}

.slider .thumb:hover {
    -fx-cursor: hand;
}

.scroll-pane {
    -fx-background-color: transparent;
}

#desc .scroll-pane {
    -fx-background-color: transparent;
}

#desc .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#desc .scroll-pane .content{
    -fx-background-color: transparent;
}

#desc {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 16.0;
}

#stats .scroll-pane {
    -fx-background-color: transparent;
}

#stats .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#stats .scroll-pane .content{
    -fx-background-color: transparent;
}

#stats {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 19.0;
}

#logs .scroll-pane {
    -fx-background-color: transparent;
}

#logs .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#logs .scroll-pane .content{
    -fx-background-color: transparent;
}

#logs {
    -fx-background-color: #000000;
    -fx-border-color: #00ff5a;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: #202020;
    -fx-border-color: #00ff5a;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #202020;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-text-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #fffd00 0%, #00ff5a 50%);
    -fx-font-size: 16;
}

.table-view .table-cell{
    -fx-border-color: #000000;
    -fx-font-size: 16;
}

.table-row-cell:hover {
    -fx-background-color: #202020;
    -fx-text-background-color: #00ff5a;
    -fx-cursor: hand;
}

.table-row-cell {
    -fx-background-color: #202020;
    -fx-text-background-color: #909090;
}

.table-row-cell:selected {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #fffd00 0%, #00ff5a 50%);
    -fx-text-background-color: #202020;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.table-view .filler {
    -fx-background-color: transparent;
}

.table-view .scroll-bar {
    -fx-background-color: transparent;
}

.table-view .scroll-bar .thumb {
    -fx-background-color: #232323;
}

.table-view .scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.check-box {
    -fx-cursor: hand;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-color: #00ff5a;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: #000000;
}

.check-box:selected .box {
    -fx-background-color: #00ff5a;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #00ff5a;
    -fx-text-fill: #000000;
}

.list-cell:even {
    -fx-background-color: #222222;
    -fx-text-fill: #ffffff;
}

.list-cell:odd {
    -fx-background-color: #202020;
    -fx-text-fill: #ffffff;
}

.list-cell:filled:hover {
    -fx-text-fill: #00ff5a;
}

.tooltip {
    -fx-font-weight: normal;
    -fx-font-size: 16;
}